.title {
  text-align: center;
  font-size: 64px;
}
body {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/vshayate.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}