.wrap {
  .ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    .items {
      background: rgba(256, 256, 256, .7);
      font-size: 30px;
      padding:0 3em 0 3em;
      li {
        .score{
          color: red;
        }
      }

    }
  }
}
